[Unit]
Description=Azure DevOps Agent
After=network-online.target

[Service]
Type=simple
User=agent
WorkingDirectory=/home/agent
ExecStartPre=/home/agent/configure.sh
ExecStart=/home/agent/run.sh
#ExecStopPost=/usr/bin/sudo /usr/bin/systemctl poweroff

[Install]
WantedBy=multi-user.target